<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifspsaocarlos.sdm.kifurecorder">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".TelaInicialActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestsActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".GameInformationActivity"
            android:label="@string/title_activity_game_information" />
        <activity
            android:name=".DetectBoardActivity"
            android:label="@string/title_activity_detect_board"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RecordGameActivity"
            android:label="@string/title_activity_record_game"
            android:screenOrientation="landscape" />
        <activity android:name=".InstructionsActivity" />
        <activity android:name=".PrivacyPolicyActivity" />
        <activity android:name=".CreditsActivity"></activity>
    </application>

</manifest>