<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.edu.ifspsaocarlos.sdm.kifurecorder">

    <uses-sdk android:minSdkVersion="8" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
        <activity
            android:name=".TelaInicialActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".TestesActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="landscape" />
        <activity
            android:name=".InformacoesDaPartidaActivity"
            android:label="@string/title_activity_informacoes_da_partida"
            android:noHistory="true" />
        <activity
            android:name=".DetectarTabuleiroActivity"
            android:label="@string/title_activity_detectar_tabuleiro"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity
            android:name=".RegistrarPartidaActivity"
            android:label="@string/title_activity_registrar_partida"
            android:noHistory="true"
            android:screenOrientation="landscape" />
        <activity android:name=".InstrucoesActivity" />
        <activity android:name=".PoliticaDePrivacidadeActivity" />
        <activity android:name=".CreditosActivity"></activity>
    </application>

</manifest>